node_modules/
.env
client/.env.local
game-server/.env
client/.next/
client/out/
client/package-lock.json
package-lock.json
supabase/.env
supabase/.branches/
supabase/.temp/
supabase/logs/
game-server/bin/
game-server/tmp/
.DS_Store
*.log
